In [1]:
#numeric datatype
no_of_student = 32 #integer
purchase_cost = 54.95 #float

In [2]:
print no_of_student

32

In [3]:
a=10
b=20
print a+b
print a-b
print a*b
print a/b
print a**2
print a%2

30
-10
200
0
100
0

In [4]:
4/2

2

In [6]:
4/3

1

In [7]:
int a
a=10
a="fdfs"

SyntaxError: invalid syntax (<ipython-input-7-715cef7d247a>, line 1)

In [8]:
a=10
print type(a)

<type 'int'>

In [9]:
a=12.34
print type(a)

<type 'float'>

In [10]:
import numpy as np
import pandas as pd
a=10
print type(a)
a="str"
print type(a)
a=23.45
print type(a)
a=[1,2,3,4]
print type(a)
a=(1,2,3,4)
print type(a)
a={1,2,3,4}
print type(a)
a={1:2,3:4}
print type(a)
a=1+2j
print type(a)
a=np.array([1,2,3,4])

<type 'int'>
<type 'str'>
<type 'float'>
<type 'list'>
<type 'tuple'>
<type 'set'>
<type 'dict'>
<type 'complex'>

In [11]:
a=10
b=20

In [12]:
print "a+b=",a+b
print "a-b=",a-b
print "a*b=",a*b
print "a/b=",a/b
print "a**2",a**2
print "a%2=",a%2

a+b= 30
a-b= -10
a*b= 200
a/b= 0
a**2 100
a%2= 0

In [13]:
print 10/20

0

In [14]:
print 10.0/20

0.5

In [15]:
print 10.0/20.0

0.5

In [16]:
print 10/20.0

0.5

In [18]:
print 11/5

2

In [19]:
print 11/5.0

2.2

In [20]:
a=10
b=20
print a/b

0

In [21]:
a=10
b=20
print a.0/b

SyntaxError: invalid syntax (<ipython-input-21-a35a71fcf74d>, line 3)

In [22]:
a=10
print type(a)
c=float(a)
print c

<type 'int'>
10.0

In [23]:
a=10
b=20
print float(a)/b

0.5

In [25]:
d=5.9
print type(d)

<type 'float'>

In [27]:
print type(int(d))
print type(d)

<type 'int'>
<type 'float'>

In [28]:
a=10
b=20
print float(a/b)

0.0

In [29]:
float(0)

0.0

In [30]:

10+10/20

10

In [31]:
print a**3+b**3+3*a*b*(a+b)

27000

In [32]:
string = "abcd"
print type(string)
string = 'abcd'
print type(string)

<type 'str'>
<type 'str'>

In [33]:
a="abc"
b="def"
print a
print b
print a+b

abc
def
abcdef

In [34]:
print a+2

TypeError: cannot concatenate 'str' and 'int' objects

In [35]:
print a-b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [36]:
print a*2

abcabc

In [37]:
print a*10

abcabcabcabcabcabcabcabcabcabc

In [38]:
print a+'2'

abc2

In [39]:
print a*b

TypeError: can't multiply sequence by non-int of type 'str'

In [40]:

10+10/20

10

In [42]:
10*2/3.0

6.666666666666667

In [43]:
(10+20)/3

10

In [44]:
20/3*10

60

In [45]:
a=10
b=20
print a+b**3

8010

In [47]:
print a**3+b**3+3*a*b*(a+b)
1000+8000+3*10*20*30
1000+8000-18000

27000

-9000

In [48]:
a3+b3+3ab(a+b)

SyntaxError: invalid syntax (<ipython-input-48-5b4cf728fb43>, line 1)

In [ ]:
a**3+b**3+3*a*b*(a+b)